.home-main {
    .section-banner {
        background-image: url("../images/yequipe/banner-bg.jpg");
        background-size: cover;
        background-position: center 70%;

        .wrapper {
            height: 100vh
        }
    }

    .section-categories {
        .img-bg {
            height: 400px;
            object-fit: cover;
            object-position: center 70%;
        }

        .category-banner {
            position: absolute;
            color: $white;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
    }

    .section-cta {
        background-image: url("../images/yequipe/cta-bg.jpg");
        background-size: cover;
        background-position: center;
        padding: 140px 0;
    }

    .section-our-products {}

    .section-our-mission {
        background-image: url("../images/yequipe/our-mission-bg.jpg");
        background-size: cover;
        background-position: center 90%;
        padding: 140px 0;
    }

    .brand-logo {
        display: none;
    }

    .header-scroll-active {
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;

        .brand-logo {
            display: block !important;
        }
    }

    header {
        padding: 0 70px 0 55px;
    }

    .section-activities {
        .content-wrapper {
            background: #D9D9D9;
            padding: 30px 100px;

            h3 {
                letter-spacing: 7px;
                color: #000;
                margin-bottom: 30px;
            }

            h2 {
                font-weight: 500;
                color: #000;
                margin-bottom: 10px;
            }
        }
    }
}

.left-image-page {
    .img-single-product {
        // max-height: 550px;
        // width: 100%;
        // object-fit: cover;
    }
}

.product-box {
    .product-box-img-main {
        height: 410px;
        width: 100%;
        object-fit: cover;
    }
}

#loom-companion-mv3 {
    display: none;
}

@media (max-width: 577px) {
    .home-main {
        .section-categories {
            .img-bg {
                height: 250px;
            }
        }

        .section-cta,
        .section-our-mission {
            padding: 70px 0;
        }

        header {
            padding: 0 12px 0 12px;
        }
    }

    .product-box {
        .product-box-img-main {
            height: 250px;
            width: 100%;
            object-fit: cover;
        }
    }
}